body{
    margin: 0px;
    padding: 0px;
 
 
   
}




.main-container{
    font-family: "Rubik", sans-serif;
    height: max-content;
    
    

}




.inside-main-container-1{
    background:linear-gradient( hsl(293, 100%, 63%), hsl(264, 100%, 61%)) ;
   width: 55vw;
margin-left: -20px;
  height: 500px;
  
   
  
    border-bottom-right-radius: 300px;
   
    
  

}

.phone-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 80px;
 
   top: 0px;
  
   position: absolute;
   padding-top: 90px;

   
    
}

.phone-design{
    background:hsl(0, 0%, 100%) ;
    
   
    width :260px;
  
    height: 500px;
    
   border-radius: 30px;
   padding: 10px;
   


   
}

.phone-head{
    background: linear-gradient(90deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%) );
   height: 68px;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   
  
     
}

.cover{
    width: 135px;
    height: 27px;
    background:hsl(0, 0%, 100%)  ;
    border-radius: 50px;
    margin-top: -15px;
    margin-left: 45px;
}

.left-sign{
    font-size: 10px;
  position: relative;
  bottom: 5px;
 
   
}

.man-image{
    width: 25px;
    margin-left: -3px;
    margin-bottom: 10px;
    
}

.samuel{
    font-size: 12px;
    color: white;
    position: relative;
    bottom: 37px;
left: 62px
  
   
}

.avail{
    position: relative;
    bottom: 52px;
    left: 63px;
    font-size: 8px;
    color: hsl(276, 100%, 81%);
   
}

.dots{
    font-size: smaller;
    position: relative;
    left: 210px;
    bottom: 95px;
    color: white;
}


.phone-body{
    
    height: 410px;
    background: hsl(270, 20%, 96%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* padding: 8px; */
}

.text-1{
    width: 130px;
  color: hsl(276, 55%, 52%);
border-radius: 10px;
    font-size: 8px;
    font-weight: 500;
}

.text-background{
    background: rgb(243, 231, 249);
}

.close{
    margin-top: -8px;
    
}



.imgs{
    width: 40px;
    border-radius: 10px;
   
}

.here{
    width: 128px;
    color:hsl(271, 15%, 43%);
  border-radius: 10px;
      font-size: 8px;
      font-weight: 500;
      margin-top: 8px;
    margin-left: 97px;
    padding: 5px;
    padding-left: 5px;
}

.can{
    width: 80px;
    color:hsl(271, 15%, 43%);
  border-radius: 10px;
      font-size: 8px;
      font-weight: 500;
      margin-top: -8px;
    margin-left: 145px;
    padding: 6px;
    padding-left: 6px;
}

.butts{
    width: 160px;
    height: 35px;
   background: linear-gradient(to right, hsl(293, 100%, 63%),hsl(264, 100%, 61%) );
   border-radius: 10px;
   border-bottom-left-radius: 5px;
   padding: 6px;
   margin-top: -8px;
}

.rad{
 
    color: hsl(289, 100%, 72%);
    font-size: 14px;
    
}

.txt{
    font-size: 8px;
    color: hsl(276, 100%, 90%);
    position: relative;
    bottom: 2px;
}

.txt-2{
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-left: 25px;
}

.txt-3{
    padding-left: 16px;
}

.butts-2{
    width: 160px;
    height: 35px;
   background: linear-gradient(to right, hsl(293, 100%, 63%),hsl(264, 100%, 61%) );
   border-radius: 10px;
   border-bottom-left-radius: 5px;
   padding: 6px;
   margin-top: 8px;
}

.submit{
    width: 223px;
    height: 35px;
    margin-top: 15px;
    background: hsl(0, 0%, 100%);
    color: hsl(206, 6%, 79%);
    font-size: 10px;
    font-family: "Rubik", sans-serif;    

}

.submit-2{
    background: hsl(271, 36%, 24%);
    width: 20px;
    height: 25px;
    padding-left: 4px;
    padding-top: 3px;
    border-radius: 50%;
   

    position: relative;
    right: 22px;
    top: 20px;

    
}


.main-container-2{
    

    display: flex;
    justify-content: right;
    align-items:last baseline ;
    
    padding-right: -20px;
   

    
    
}



.inside-main-container-2{
 height:500px;  
 width:55vw ;
border-top-left-radius: 250px;
   background: rgb(251, 249, 252);
    

   
}


.main-container-2-text{

 width: 82%;

}



.big-size{
    font-size: 38px;
   
}

.para-size{
  font-size: 16px;
    font-weight: 400;
    color: hsl(270, 7%, 64%);
}

.simple-booking{
    color: hsl(271, 36%, 24%);
}


.attribution { font-size: 11px; text-align: center;margin-top: -15px; }
    .attribution a { color: hsl(228, 45%, 44%); }


@media(max-width:350px){

.phone-text{
    overflow-x: hidden;
    right: 0px;
    left: 0px;
  
   
}


}  




@media(min-width:768px){

.inside-main-container-1{
    height: 50vh;
}

.inside-main-container-2{
    height: 50vh;
}

.phone-text{
    top: 5vh;
}
    
}



@media(min-width:1024px){

    .main-container{
        display: flex;
        overflow-x: hidden;
       
        
    }

.main-container-1{
    width: 50vw;
    
}

    .inside-main-container-1{
        height: 90vh;
        width: 30vw;
        border-bottom-left-radius: 250px;
    }

    .main-container-2{
       
        height: 100vh;
        width: 50vw;
        display: flex;
        align-items: last baseline;
        align-content: right;
      
        
        

    }
    
    .inside-main-container-2{
        border-top-right-radius: 250px;
        height: 90vh;
       width: 30vw;
       margin-right: -10vw;
    }
    
    .phone-text{
        display: flex;
        flex-direction: row;
        column-gap: 10vw;
        top: 17vh;
        left: 25vw;
     
    }


.main-container-2-text{
    width: 42%;
    padding-left: 7px;
   
    
}

.big-size{
    text-align: start !important;
}

.para-size{
    text-align: start !important;
}
        
    }



    @media(min-width:1500px){

.main-container-1{
    margin-left:-5vw;
    height: 1000px;
}

       .phone-design{
        position: absolute;
        top: 100px;
        left:-5vw;
       }

       .main-container-2-text{
        position: relative;
        left: 30vw;
        top: 5vh;
       }


    }




    /* ////////////////// */








   
