body{
    margin: 0px;
    padding: 0px;
  
}




.main-container{
    font-family: "Rubik", sans-serif;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;

}



.main-container-1{
    width: 30vw;
   height: 90vh;
    background:linear-gradient( hsl(293, 100%, 63%), hsl(264, 100%, 61%)) ;
    border-bottom-right-radius:400px;
    border-bottom-left-radius:400px;
    margin-left: -3%;

 
}


.phone-design{
    background:hsl(0, 0%, 100%) ;
    
   
    width :260px;
  
    height: 500px;
    
   border-radius: 30px;
   padding: 10px;

   position: absolute;
   left: 24%;
   top:27% ;
  
   


   
}

.phone-head{
    background: linear-gradient(90deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%) );
   height: 68px;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   
  
     
}

.cover{
    width: 135px;
    height: 27px;
    background:hsl(0, 0%, 100%)  ;
    border-radius: 50px;
    margin-top: -15px;
    margin-left: 45px;
}

.left-sign{
    font-size: 10px;
  position: relative;
  bottom: 5px;
 
   
}

.man-image{
    width: 25px;
    margin-left: -3px;
    margin-bottom: 10px;
    
}

.samuel{
    font-size: 12px;
    color: white;
    position: relative;
    bottom: 37px;
left: 62px
  
   
}

.avail{
    position: relative;
    bottom: 52px;
    left: 63px;
    font-size: 8px;
    color: hsl(276, 100%, 81%);
   
}

.dots{
    font-size: smaller;
    position: relative;
    left: 210px;
    bottom: 95px;
    color: white;
}


.phone-body{
    
    height: 410px;
    background: hsl(270, 20%, 96%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* padding: 8px; */
}

.text-1{
    width: 130px;
  color: hsl(276, 55%, 52%);
border-radius: 10px;
    font-size: 8px;
    font-weight: 500;
}

.text-background{
    background: rgb(243, 231, 249);
}

.close{
    margin-top: -8px;
    
}



.imgs{
    width: 40px;
    border-radius: 10px;
   
}

.here{
    width: 128px;
    color:hsl(271, 15%, 43%);
  border-radius: 10px;
      font-size: 8px;
      font-weight: 500;
      margin-top: 8px;
    margin-left: 97px;
    padding: 5px;
    padding-left: 5px;
}

.can{
    width: 80px;
    color:hsl(271, 15%, 43%);
  border-radius: 10px;
      font-size: 8px;
      font-weight: 500;
      margin-top: -8px;
    margin-left: 145px;
    padding: 6px;
    padding-left: 6px;
}

.butts{
    width: 160px;
    height: 35px;
   background: linear-gradient(to right, hsl(293, 100%, 63%),hsl(264, 100%, 61%) );
   border-radius: 10px;
   border-bottom-left-radius: 5px;
   padding: 6px;
   margin-top: -8px;
}

.rad{
 
    color: hsl(289, 100%, 72%);
    font-size: 14px;
    
}

.txt{
    font-size: 8px;
    color: hsl(276, 100%, 90%);
    position: relative;
    bottom: 2px;
}

.txt-2{
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-left: 25px;
}

.txt-3{
    padding-left: 16px;
}

.butts-2{
    
    width: 160px;
    height: 35px;
   background: linear-gradient(to right, hsl(293, 100%, 63%),hsl(264, 100%, 61%) );
   border-radius: 10px;
   border-bottom-left-radius: 5px;
   padding: 6px;
   margin-top: 8px;
}

.submit{
    
   width: 223px;
    height: 35px;
    margin-top: 15px;
    background: hsl(0, 0%, 100%);
    color: hsl(206, 6%, 79%);
    font-family: "Rubik", sans-serif;    

}

.submit::placeholder {
    font-size: 10px;
}

.submit-2{
    background: hsl(271, 36%, 24%);
    /* width: 20px; */
    height: 25px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    border-radius: 50%;
    font-size: 13px;
    
   

    position: relative;
    right:28px;
    top: 20px;

    
}


.main-container-2{


    width: 25vw;
   height: 90vh;
   border-top-left-radius: 350px;
   border-top-right-radius: 350px;
   background: rgb(251, 249, 252);
    margin-top: 10vh;
    margin-right: -5%;

    
}




.main-container-2-text{
position: absolute;
right: 15%;
top: 40%;
 width: 31%;
 

}



.big-size{
    font-size: 38px;
   
}

.para-size{
  font-size: 16px;
    font-weight: 400;
    color: hsl(270, 7%, 64%);
}

.simple-booking{
    color: hsl(271, 36%, 24%);
}


.attribution { font-size: 11px; text-align: center;margin-top: -20px;}
    .attribution a { color: hsl(228, 45%, 44%); }



    @media(max-width:1024px){
.phone-design{
    left: 10%;

    
}
.main-container-2-text{
    right: 10%;
}

    }



    @media(max-width:600px)

    
    {

.main-container{
    flex-direction: column;
    min-height: 1000px;
    

}


    .main-container-1{
        max-height:500px;
        width: 50vw;
        border-bottom-right-radius: 300px;
        
        border-bottom-left-radius:0px;
    }



    .main-container-2{
        max-height: 500px;
        width: 100vw;
       margin-top: -100px;
       display: flex;
       justify-content: end;
       background: none;
       
       border-radius: 0px;

    
    }

    .inside-main-container-2{
        min-width: 50vw;
        border-top-left-radius: 350px;
        background: rgb(251, 249, 252);
    

    }


     .phone-design{
        top: 90px;
        left: 60px;
        overflow-x: hidden;

    }

    .main-container-2-text{
     
      right: 220px;
    top: 650px ;
 
        
    }

    .inside-main-container-2-text{
       width: 310px;
       text-align: center;
      
    }

   

    
}


   @media(max-width:320px){
.phone-design{
    left: 20px;
}

.main-container-2-text{
  left: 20px;
  width: 250px;
}

.inside-main-container-2-text{
    width: 100%;
}

   }




@media(max-width:270px){

   
.main-container{
    position: relative;
   
   
}


  .attribution{
    position: relative;
    margin-top: -50px;
  }

   }












   
